

  <div id="bg">
    <img src="https://wallpaperaccess.com/full/2454628.png" alt="">
  </div>
<header class="header">
  <div class="header_logo">
    <img src="">
  </div>

  <div class="d-flex justify-content-between">
  <a routerLink="/login" class="myButton btn-primary mr-1">Se connecter</a>
  <a routerLink="/register" class="registerBtn">S'inscrire</a>
</div>
</header>
<div class="info">
    <h1 style="color: white;">Vous recherchez un projet de fin d'études ?</h1>
    <h3 style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;Talan vous propose de nombreux sujets, inscrivez-vous et cherchez le projet qui vous convient</h3>

</div>
<div class="techno">
    <h2 style="color: #007bff"><b> TECHNOLOGIES </b></h2>
    <h5>
        &nbsp;&nbsp;&nbsp;&nbsp;Nous investissons notamment sur ces leviers technologiques :</h5>
    <hr style="width:20%;text-align:left;margin-left:0;color:#552cf5">
</div>
<div class="techno-card-container">
<div class="card" style="width: 18rem; margin-left: 2vw;">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkxeiQ5xZojnQp_xypLKQDGOJqQSBWr4nTNw&usqp=CAU" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><b>BLOCK CHAIN</b></p>
    </div>
  </div>
  <!-- ------ -->
  <div class="card" style="width: 18rem;">
    <img class="card-img-top"   src="https://www.recordedfuture.com/assets/two-shady-men-report-1.png" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><b>DATA INTELLIGENCE </b></p>
    </div>
  </div>
  <!-- -------- -->
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" style="padding-top: 30px ;"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSow9g5wFH1YNroh9NA7Q7CyQamG_wZq_mXPw&usqp=CAU" alt="Card image cap">
    <div class="card-body" >
      <p class="card-text"style="padding-top: 65px;"><b>INTELLIGENCE ARTIFICIELLE</b></p>
    </div>
  </div>
  <!-- --------- -->
  <div class="card" style="width: 18rem;">
    <img class="card-img-top"  src="https://media.istockphoto.com/vectors/automation-mark-icon-element-of-automation-icon-for-mobile-concept-vector-id1035271868?k=6&m=1035271868&s=170667a&w=0&h=KAKMmT6sOZJ66R0w4URy--bMVce-gjrDzHnEr-C1TsQ=" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><b>RPA ET SMART AUTOMATION</b></p>
    </div>
</div>
</div>
<div style="height: 300px; background-color: white; bottom: 0; margin-top: 5vh; border-top: 1px solid grey;">
    <div class="container mt-3" >
        <div class="row" >
          <div class="col-md"><a href=""style="color: #007bff; font-weight:bold">À PROPOS</a></div>
          <div class="col-md "><a href=""style="color: #007bff ; font-weight:bold">SECTEURS</a></div>
          <div class="col-md " ><a href=""style="color: #007bff; font-weight:bold">ACTUALITÉS</a></div>
          <div class="col-md " ><a href=""style="color: #007bff; font-weight:bold">CARRIÈRES</a></div>
        </div>
        <div class="row" >
          <div class="col-md"><a href="https://talan.com/a-propos/qui-sommes-nous/"style="color: black">Qui sommes-nous ?</a></div>
          <div class="col-md "><a href="https://talan.com/secteurs/secteur-public/"style="color: black">Secteur Public</a></div>
          <div class="col-md " ><a href="https://talan.com/actualites/toutes-les-actualites/"style="color: black">Toutes les actualités</a></div>
          <div class="col-md " ><a href="https://carriere.talan.com/"style="color: black">Rejoignez-nous</a></div>
        </div>
        <div class="row" >
          <div class="col-md"><a href="https://talan.com/a-propos/management/"style="color: black">Management</a></div>
          <div class="col-md "><a href="https://talan.com/secteurs/assurance/"style="color: black">Assurance</a></div>
          <div class="col-md " ><a href="https://talan.com/actualites/videos/"style="color: black">Vidéos</a></div>
          <div class="col-md " ><a href="https://carriere.talan.com/offre-france/"style="color: black">Offres d'emploi France</a></div>
        </div>
        <div class="row" >
          <div class="col-md"><a href="https://talan.com/about/great-place-to-work/"style="color: black">Talan "Great Place To Work"</a></div>
          <div class="col-md "><a href="https://talan.com/secteurs/energie-et-environnement/"style="color: black">Énergie et Environnement</a></div>
          <div class="col-md " ><a href="https://talan.com/actualites/revue-de-presse/"style="color: black">Revue de presse </a></div>
          <div class="col-md " ><a href="https://carriere.talan.com/offres-demploi/"style="color: black">Offres d'emploi International</a></div>
        </div>
        <div class="row" >
          <div class="col-md"><a href="https://talan.com/a-propos/nos-engagements/"style="color: black">Nos engagements</a></div>
          <div class="col-md "><a href="https://talan.com/secteurs/finance/"style="color: black">Finance</a></div>
          <div class="col-md " ><a href="https://talan.com/actualites/covid-19-plus-forts-ensemble/"style="color: black">COVID-19: Plus forts, ensemble</a></div>
          <div class="col-md " ><a href="https://talan.com/carrieres/temoignages/"style="color: black">Témoignages</a></div>
        </div>
        <div class="row" >
          <div class="col-md"><a href="https://talan.com/a-propos/nos-implantations/"style="color: black">Nos implantations</a></div>
          <div class="col-md "><a href="https://talan.com/secteurs/telecom/"style="color: black">Télécom</a></div>
          <div class="col-md " ><a href="https://talan.com/actualites/podcast-playfield/"style="color: black">Podcast Playfield</a></div>
          <div class="col-md " ><a href="https://talan.com/carrieres/temoignages/"style="color: black"></a></div>
        </div>
      </div>
      <hr>
      <div class="container mt-5" >
        <div class="row" >
          <div class="col-lg"><p style="font-size: 12px;"> © 2021 Talan-academy. All rights reserved</p></div>
          <div class="col-lg "><a href=""style="color: black ;font-size: 12px; "></a></div>
          <div class="col-lg "><a href=""style="color: black ;font-size: 12px; "></a></div>
          <div class="col-lg "><a href=""style="color: black ;font-size: 12px; "></a></div>
          <div class="col-lg " ><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-instagram"></i></div>
        </div>
      </div>

</div>

